* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: lcd;
  src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


main input{
    width: 100%;
    font-size: 3.5rem;
    margin-top: 10px;
    margin-bottom:10px;
    background-color: black;
    color: green;
    text-align: right;
    padding: 10px 4px 10px 4px;
    font-family: lcd;
    border: 1px solid yellow;
    border-radius:4px;
}

main section#keyBoard {
    /** Grid eller liknade */
    display: grid;
    gap: 0.05rem;
    
}

button {
    font-size: 3rem;
    border-radius: 8px;
    padding: 3rem 0rem;
}

#add, #sub, #mul, #enter, #comma, #div, #clear {
    color: blue;
}

button:hover {
    color: green;
    font-weight: bold;
}

@media (max-width: 768px) {

    main input{
    }

    button {
    }
}

@media (max-width: 375px) {
    main input {
    }

    button {
    }

}
